@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  cursor: none;
}

@theme {
  --font-family: "Outfit", sans-serif;

  /* Light mode colors (defaults) */
  --color-primary: #0052cc;
  /* Blue for actions/buttons */
  --color-secondary: #2684ff;
  /* Light blue for highlights */
  --color-accent: #36b37e;
  /* Green for success/completed */
  --color-warning: #de350b;
  /* Red for errors */
  --color-background: #ffffff;
  /* White background */
  --color-surface: #f4f5f7;
  /* Light gray for cards */
  --color-text: #172b4d;
  /* Dark gray text */
  --color-border: #dfe1e6;
  /* Medium gray borders */
}

/*  */

/* Apply font globally */
body {
  font-family: var(--font-family);
}